@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');
.Header {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: rgb(92, 63, 63);
    z-index: 999;
}

.Header_logo {
    width: 80px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.Header_options {
    position: relative;
    height: 40px;
    width: 50%;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    left: 27%;
    justify-content: space-around;
}

.option1,
.option2,
.option3,
.option4,
.option5 {
    display: flex;
    height: 50px;
    width: 70px;
    font-size: 22px;
    font-weight: 250;
    border-radius: 10%;
    margin: auto;
}

.Style {
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    width: 70px;
    color: white;
}

.Style:hover {
    font-size: 24px;
    font-weight: 275;
    text-decoration: underline;
}

.Header_end {
    height: 40px;
    width: 70px;
    position: absolute;
    top: 10px;
    right: 30px;
}

.header_end_option {
    height: 40px;
    width: 70px;
    font-size: 22px;
    font-weight: 250;
}