    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
    .home_cover_img {
        height: auto;
        width: 100%;
        z-index: -10;
        mask-image: linear-gradient(to bottom, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0))
    }
    
    .home_tagline {
        width: 700px;
        font-size: 72px;
        font-weight: 900px;
        position: absolute;
        top: 350px;
        left: 21%;
        z-index: 40;
        display: flex;
        font-family: 'Dancing Script', cursive;
    }
    
    .home_tagline2 {
        font-size: 24px;
        font-weight: 400px;
        position: absolute;
        top: 450px;
        width: 75%;
        margin-left: 150px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .home_tagline:hover {
        color: rgb(153, 46, 38);
    }